<!--
  Generated template for the GestionProductionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="trap_theme">
    <ion-buttons *ngIf="action == 'liste' && ((id_centre && id_centre != '') || (id_produit && id_produit != ''))" left>
        <button ion-button icon-only color="royal" (click)="dismiss()"> Fermer <!--ion-icon name="arrow-back"></ion-icon--></button>
      </ion-buttons> 
      <ion-buttons *ngIf="action == 'ajouter' || action == 'modifier'" left>
        <button ion-button icon-only color="royal" (click)="annuler()"> <ion-icon name="arrow-back"></ion-icon></button>
      </ion-buttons> 
      <ion-buttons *ngIf="action == 'detail'" left>
        <button ion-button icon-only color="royal" (click)="fermerDetail()"><ion-icon name="arrow-back"></ion-icon></button>
      </ion-buttons> 
      <ion-buttons *ngIf="action == 'liste'"  start>
  
        <button ion-button *ngIf="rechercher" icon-only>
            <ion-spinner></ion-spinner>
        </button>
   
        <button ion-button icon-only>
          <ion-badge color="fuma-green" item-right>{{productions.length}}</ion-badge>
        </button>
  
        <button ion-button icon-only color="royal" (click) = "replicationDepuisServeur()" >
          <ion-icon name="arrow-round-down"></ion-icon>
       </button>
 
       <button ion-button icon-only color="royal" (click) = "replicationVersServeur()" >
          <ion-icon name="arrow-round-up"></ion-icon>
       </button>
       
        <button ion-button icon-only color="royal" *ngIf="aProfile" (click) = "sync()" >
            <ion-icon name="sync"></ion-icon>
        </button>
  
      </ion-buttons>
  
      <ion-title *ngIf="action == 'liste'">Productions</ion-title>
      <ion-title *ngIf="action == 'ajouter'">Ajouter production</ion-title>
      <ion-title *ngIf="action == 'modifier'">Modifier production</ion-title>
      <ion-title *ngIf="action == 'detail'">Détail production</ion-title>

      <button ion-button *ngIf="!id_centre && action == 'liste'" menuToggle end>
        <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher *ngIf="action == 'liste'" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Tirer pour actualiser"
        refreshingSpinner="circles"
        refreshingText="Actualisation...">
      </ion-refresher-content>
    </ion-refresher>
  <div  *ngIf="action  == 'liste'">
    
    
      <ion-list>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label floating>Selectionnez le produit</ion-label>
              <ion-select [(ngModel)]="id_produit_selected" (ionChange)="getAllProductions(id_produit_selected)" cancelText="Annuler" okText="Ok" >
                <ion-option *ngFor="let p of produits" [value]=p.doc._id >{{p.doc.data.nom}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
                <ion-label floating>Style affichage</ion-label>
                <ion-select [(ngModel)]="selectedStyle" cancelText="Annuler" okText="Ok" >
                  <ion-option value="" selected disabled>Selectionnez le style de la liste</ion-option>
                  <ion-option value="liste" >Liste</ion-option>
                  <ion-option value="tableau" >Tableau</ion-option>
                </ion-select>
              </ion-item>
          </ion-col>
        </ion-row>
        
  
        <ion-item>
        <ion-label floating>Type de recherche</ion-label>
        <ion-select [(ngModel)]="typeRecherche" (ionChange)="typeRechercheChange()" cancelText="Annuler" okText="Ok" >
          <ion-option value="nom_produit" >Par nom produit</ion-option>
          <ion-option value="code_produit" >Par code produit</ion-option>
          <ion-option value="type_produit" >Par type produit</ion-option>
          <ion-option value="code_centre" >Par code centre</ion-option>
          <ion-option value="nom_centre" >Par nom centre</ion-option>
        </ion-select>
      </ion-item>
  
        <ion-item>
          <ion-searchbar *ngIf="typeRecherche == 'nom_produit'" placeholder="Rechercher par nom produit..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
          <ion-searchbar *ngIf="typeRecherche == 'code_produit'" placeholder="Rechercher par code produit..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
          <ion-searchbar *ngIf="typeRecherche == 'type_produit'" placeholder="Rechercher par type produit..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
          <ion-searchbar *ngIf="typeRecherche == 'code_centre'" placeholder="Rechercher par code centre..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
          <ion-searchbar *ngIf="typeRecherche == 'nom_centre'" placeholder="Rechercher par nom centre..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
        
        </ion-item>
      </ion-list>
  
      <br >
      <ion-list class="info-card" *ngIf="productions.length > 0 && selectedStyle === 'liste'">
        <ion-list-header>
          <ion-item class="message">
            <h2  class="fond-gris blanc"><strong>Liste des productions <span *ngIf="nom_centre && nom_centre != ''">du centre {{nom_centre}}</span><span *ngIf="id_produit && id_produit != ''">du produit {{nom_produit}}</span> </strong></h2>
          </ion-item>
         </ion-list-header>
        <ion-item-sliding *ngFor="let production of productions">
          <ion-item (click)="detail(production.doc, selectedSource)" >
            <!--ion-row>
              <ion-col-->
                  <h6><strong>Type produit:</strong> {{production.doc.data.type_produit}}</h6>
                  <h6><strong>Code produit:</strong> {{production.doc.data.code_produit}}</h6>
                  <h6><strong>Nom produit:</strong> {{production.doc.data.nom_produit}} ({{production.doc.data.unite}})</h6>
              <!--/ion-col>
              <ion-col class="aligneDate"-->
                <p><strong>Date:</strong> {{production.doc.data.today | date: 'dd-MM-yyyy'}}</p>
              <!--/ion-col>
            </ion-row-->
          </ion-item> 
          <!--ion-item-options *ngIf="(user && user.roles && global.estManager(user.roles)) || estManger" side="right">
            <button ion-button icon-only color="my_primary" (click)="partager(production.doc._id)">
              <ion-icon name="share"></ion-icon>   
            </button>
          </ion-item-options-->
      </ion-item-sliding> 
      </ion-list>
  
  
    <ion-card class="info-card" *ngIf="productions.length > 0 && selectedStyle === 'tableau'">
      <ion-card-header>
          <ion-item class="message">
            <h2 class="fond-gris blanc"><strong>Liste des productions <span *ngIf="nom_centre && nom_centre != ''">du centre {{nom_centre}}</span><span *ngIf="id_produit && id_produit != ''">du produit {{nom_produit}}</span></strong></h2>
          </ion-item>
      </ion-card-header> 
      <ion-scroll scrollX="true" scrollY="true" id="production_tableau" style="height: 80vh"> 
      <!--ion-card-header  style="width: 100vw">
        <h2><strong>Liste des productions</strong></h2>
      </ion-card-header--> 
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
          <th  >
            <strong>Nom centre</strong>
          </th>
          <th  >
            <strong>Code centre</strong>
          </th>
          <th>
            <strong>Type produit</strong>
          </th>
          <th  >
            <strong>Code produit</strong>
          </th>
          <th>
            <strong>Nom produit</strong>
          </th>
          <th>
            <strong>Unité de mésure</strong>
          </th>
          <th>
            <strong>Prix unitaire</strong>
          </th>
          <ng-container *ngFor="let i of selectedProduitIngredients">
            <th >
              <strong>{{i.nom}}.{{i.unite}}</strong>
            </th>
            <th>
              <strong>Coût.{{i.nom}}.F</strong>
            </th>
          </ng-container>
          <!--div *ngFor="let i of selectedProduitIngredients">
            <th >
              <strong>{{i.nom}}.{{i.unite}}</strong>
            </th>
            
            <th>
              <strong>Coût.{{i.nom}}.F</strong>
            </th>
          </div-->

          <th>
            <strong>Quantité produite</strong>
          </th>
          <th>
            <strong>Quantité gâtée</strong>
          </th>
          <th>
            <strong>Quantité réelle</strong>
          </th>
          <th>
            <strong>Montan production</strong>
          </th>
          <th>
            <strong>Dépense</strong>
          </th>
          <th>
            <strong>Pertes</strong>
          </th>
          <th>
            <strong>Nouveau stock</strong>
          </th>
          <th>
            <strong>Ancien stock</strong>
          </th>
        
          </tr>
        </thead>
        <!--hr style="width: 375%"-->
        <tbody>
          <tr *ngFor="let production of productions" (click)="detail(production.doc)">
            <td  >
              {{production.doc.data.nom_centre}}
            </td>
            <td  >
              {{production.doc.data.code_centre}}
            </td>
            <td  >
              {{production.doc.data.type_produit}}
            </td>
            <td  >
              {{production.doc.data.code_produit}}
            </td>
            <td  >
              {{production.doc.data.nom_produit}}
            </td>
            <td  >
              {{production.doc.data.unite}}
            </td>
            <td  >
              {{production.doc.data.prix_unitaire}}
            </td>
            <ng-container *ngFor="let k of production.doc.data.ingredients">
              <td >
                <strong>{{k.quantite}}</strong>
              </td>
              
              <td>
                <strong>{{k.cout}}</strong>
              </td>
            </ng-container>
            <!--div *ngFor="let k of production.doc.data.ingredients">
              <td >
                <strong>{{k.quantite}}</strong>
              </td>
              
              <td>
                <strong>{{k.cout}}</strong>
              </td>
            </div--> 

            <td  >
              {{production.doc.data.quantite_produite}}
            </td>
            <td  >
              {{production.doc.data.quantite_gate}}
            </td>
            <td  >
              {{production.doc.data.quantite_reelle}}
            </td>
            <td  >
              {{production.doc.data.montan_production}}
            </td>
            <td  >
              {{production.doc.data.depense}}
            </td>
            <td  >
              {{production.doc.data.perte}}
            </td>
            
            <td  >
              {{production.doc.data.nouveau_stock}}
            </td>
            <td  >
              {{production.doc.data.ancien_stock}}
            </td>
            
          </tr>
        </tbody>
      </table>
    </ion-scroll>
  </ion-card>
  
  <div *ngIf="productions.length > 0">
    <br><br><br><br>
  </div>
  
    <ion-list *ngIf="!productions.length > 0">
      <ion-item>
        <div class="message">La liste est vide!</div>
      </ion-item> 
    </ion-list> 
</div>


<div *ngIf="action == 'detail'">
    <ion-card class="info-card" (dblclick)="editer(production)"> 
      <ion-card-header>
        <ion-item class="message">
            <h2 class="fond-gris blanc"><strong>Information production: {{production.data.code}}</strong></h2>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row> <ion-col class='meta-key'><strong>Nom centre:</strong></ion-col> <ion-col class='meta-value'> {{production.data.nom_centre}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Code centre:</strong></ion-col> <ion-col class='meta-value'> {{production.data.code_centre}} </ion-col> </ion-row> 
          <ion-row> <ion-col class='meta-key'><strong>Type production:</strong></ion-col> <ion-col class='meta-value'> {{production.data.type_produit}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Code produit:</strong></ion-col> <ion-col class='meta-value'> {{production.data.code_produit}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Nom produit:</strong></ion-col> <ion-col class='meta-value'> {{production.data.nom_produit}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Unité de mésure:</strong></ion-col> <ion-col class='meta-value'> {{production.data.unite}} </ion-col> </ion-row>
          <fieldset>
            <legend>Main d'oeuvre interne</legend>
            <ion-row> <ion-col class='meta-key'><strong>Type de main d'oeuvre interne:</strong></ion-col> <ion-col class='meta-value'> {{production.data.type_main_doeuvre_interne}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Moyen de paiement:</strong></ion-col> <ion-col class='meta-value'> {{production.data.mode_paiement_interne}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Nombre des femmes:</strong></ion-col> <ion-col class='meta-value'> {{production.data.nombre_femme_interne}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Coût des femmes:</strong></ion-col> <ion-col class='meta-value'> {{production.data.cout_femme_interne}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Nombre des hommes:</strong></ion-col> <ion-col class='meta-value'> {{production.data.nombre_homme_interne}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Coût des hommes:</strong></ion-col> <ion-col class='meta-value'> {{production.data.cout_homme_interne}}</ion-col> </ion-row>
          </fieldset>
          <br>
          <fieldset>
            <legend>Main d'oeuvre externe</legend>
            <ion-row> <ion-col class='meta-key'><strong>Type de main d'oeuvre externe:</strong></ion-col> <ion-col class='meta-value'> {{production.data.type_main_doeuvre_externe}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Moyen de paiement:</strong></ion-col> <ion-col class='meta-value'> {{production.data.mode_paiement_externe}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Nombre des femmes:</strong></ion-col> <ion-col class='meta-value'> {{production.data.nombre_femme_externe}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Coût des femmes:</strong></ion-col> <ion-col class='meta-value'> {{production.data.cout_femme_externe}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Nombre des hommes:</strong></ion-col> <ion-col class='meta-value'> {{production.data.nombre_homme_externe}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Coût des hommes:</strong></ion-col> <ion-col class='meta-value'> {{production.data.cout_homme_externe}}</ion-col> </ion-row>
          </fieldset>
          <br>
          <fieldset>
            <legend>Inventaire</legend>
            <ion-row> <ion-col class='meta-key'><strong>Quantité produite ({{production.data.unite}}):</strong></ion-col> <ion-col class='meta-value'> {{production.data.quantite_produite}} </ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Quantité gâtée ({{production.data.unite}}):</strong></ion-col> <ion-col class='meta-value'> {{production.data.quantite_gate}} </ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Quantité réelle ({{production.data.unite}}):</strong></ion-col> <ion-col class='meta-value'> {{production.data.quantite_reelle}} </ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Prix unitaire (F):</strong></ion-col> <ion-col class='meta-value'> {{production.data.prix_unitaire}} </ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Montan production (F):</strong></ion-col> <ion-col class='meta-value'> {{production.data.montan_production}} </ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Dépense (F):</strong></ion-col> <ion-col class='meta-value'> {{production.data.depense}} </ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Pertes (F):</strong></ion-col> <ion-col class='meta-value'> {{production.data.perte}} </ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Bénéfice (F):</strong></ion-col> <ion-col class='meta-value'> {{production.data.benefice}} </ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Stock avant production ({{production.data.unite}}):</strong></ion-col> <ion-col class='meta-value'> {{production.data.ancien_stock}} </ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Stock après production ({{production.data.unite}}):</strong></ion-col> <ion-col class='meta-value'> {{production.data.nouveau_stock}} </ion-col> </ion-row>
          </fieldset>
          <ion-row> <ion-col class='meta-key'><strong>Date enregistrement:</strong></ion-col> <ion-col class='meta-value'> {{production.data.today | date: 'dd-MM-yyyy'}}</ion-col> </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    
    <ion-card class="info-card" (dblclick)="editer(production)"> 
        <ion-card-header>
          <ion-item class="message">
              <h2 class="fond-gris blanc"><strong>Formule / Ingrédients</strong></h2>
          </ion-item>
        </ion-card-header>
        <ion-card-content>

            <ion-scroll scrollX="true" scrollY="true" id="ingredients_tableau" style="height: 50vh"> 
                <!--ion-card-header  style="width: 100vw">
                  <h2><strong>Liste des productions</strong></h2>
                </ion-card-header--> 
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                    <th>
                      <strong>Type</strong>
                    </th>
                    <th>
                        <strong>Variété</strong>
                      </th>
                    <th  >
                      <strong>Code</strong>
                    </th>
                    <th>
                      <strong>Nom</strong>
                    </th>
                    <th>
                      <strong>Unité de mésure</strong>
                    </th>
                    <th>
                      <strong>Valeur</strong>
                    </th>
                    <th  >
                      <strong>Coût total</strong>
                    </th>
                    </tr>
                  </thead>
                  <!--hr style="width: 375%"-->
                  <tbody>
                    <tr *ngFor="let i of production.data.ingredients; let ind=index">
                      <td  >
                        {{i.type}}
                      </td>
                      <td  >
                          {{i.variete}}
                      </td>
                      <td  >
                        {{i.code}}
                      </td>
                      <td  >
                        {{i.nom}}
                      </td>
                      <td  >
                        {{i.unite}}
                      </td>
                      <td  >
                        {{i.quantite}}
                      </td>
                      <td  >
                        {{i.cout}}
                      </td>

                    </tr>
                  </tbody>
                </table>
              </ion-scroll>

          <!--ion-grid>
            <ion-list *ngIf="production.data.ingredients.length > 0">
              <div *ngFor="let i of production.data.ingredients; let ind=index">
                <ion-item (click)="detailIngredient(i)" class="item-color">
                  <ion-row> <ion-col class='meta-key'><strong>Type:</strong></ion-col> <ion-col class='meta-value'> {{i.type}} </ion-col> </ion-row>
                  <ion-row> <ion-col class='meta-key'><strong>Code:</strong></ion-col> <ion-col class='meta-value'> {{i.code}} </ion-col> </ion-row>
                  <ion-row> <ion-col class='meta-key'><strong>Nom:</strong></ion-col> <ion-col class='meta-value'> {{i.nom}} </ion-col> </ion-row>
                </ion-item>
                <hr style="width: 100%">
              </div>
            </ion-list>

            <ion-list *ngIf="!production.data.ingredients.length > 0">
              <ion-item>
                <div class="message">La liste est vide!</div>
              </ion-item>    
            </ion-list>

          </ion-grid-->
        </ion-card-content> 
      </ion-card>
  


    <ion-card class="info-card" *ngIf="(user && user.roles && global.estManager(user.roles)) || estManager" (dblclick)="editer(production, true)"> 
      <ion-card-header>
        <ion-item class="message">
            <h2 class="fond-gris blanc"><strong>Plus d'informations</strong></h2>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row> <ion-col class='meta-key'><strong>Id:</strong></ion-col> <ion-col class='meta-value'> {{production._id }} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Id stock:</strong></ion-col> <ion-col class='meta-value'> {{production.id_stock }} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>No révision:</strong></ion-col> <ion-col class='meta-value'> {{production._rev }} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Date création:</strong></ion-col> <ion-col class='meta-value'> {{production.data.created_at | date: 'dd-MM-yyyy'}} à {{production.data.created_at | date: 'HH:mm:ss:ms'}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Créateur:</strong></ion-col> <ion-col class='meta-value'> {{production.data.created_by}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>ID appareil:</strong></ion-col> <ion-col class='meta-value'> {{production.data.deviceid}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Imei:</strong></ion-col> <ion-col class='meta-value'> {{production.data.imei}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Numéro téléphone:</strong></ion-col> <ion-col class='meta-value'> {{production.data.phonenumber}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Date dernière mise à jour:</strong></ion-col> <ion-col class='meta-value'> {{production.data.updatet_at | date: 'dd-MM-yyyy'}}  à {{production.data.updatet_at | date: 'HH:mm:ss:ms'}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Dernière mise à jour par:</strong></ion-col> <ion-col class='meta-value'> {{production.data.updated_by}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>ID appareil:</strong></ion-col> <ion-col class='meta-value'> {{production.data.update_deviceid}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Imei:</strong></ion-col> <ion-col class='meta-value'> {{production.data.update_imei}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Numéro téléphone:</strong></ion-col> <ion-col class='meta-value'> {{production.data.update_phonenumber}} </ion-col> </ion-row>
          <ion-row *ngIf="production.data.deleted"> <ion-col class='meta-key'><strong>Date suppression:</strong></ion-col> <ion-col class='meta-value'> {{production.data.deleted_at | date: 'dd-MM-yyyy'}}  à {{production.data.deleted_at | date: 'HH:mm:ss:ms'}}</ion-col> </ion-row>
          <ion-row *ngIf="production.data.deleted"> <ion-col class='meta-key'><strong>Supprimé par:</strong></ion-col> <ion-col class='meta-value'> {{production.data.deleted_by}} </ion-col> </ion-row>
        </ion-grid>
      </ion-card-content> 
    </ion-card>

    <br><br><br>
  </div>


  
<div *ngIf="action == 'ajouter' || action == 'modifier'">
  
    <form [formGroup]="productionForm" (ngSubmit) = "validAction()">

      <ion-card class="info-card"> 
          <ion-card-header>
            <ion-item class="message">
                <h2 class="fond-gris blanc"><strong>Informations produit</strong></h2>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
          <ion-item>
            <ion-label floating>Date de la production <span class="error-box">*</span></ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date_production" cancelText="Annuler" doneText="Valider"></ion-datetime>
          </ion-item>
          
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating>Selectionnez le centre <span class="error-box">*</span></ion-label>
                <ion-select formControlName="id_centre" [disabled]="id_centre && id_centre != ''" (ionChange)="getProduitsCentre(productionForm.value.id_centre)" cancelText="Annuler" okText="Ok" >
                    <ion-option *ngFor="let c of centres" [value]=c.doc._id >{{c.doc.data.nom_centre}}</ion-option>
                  </ion-select>
              </ion-item>
              <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['id_centre'].hasError('required') && productionForm.controls['id_centre'].touched">* le centre est obligatoir!</div>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label floating>Selectionnez le produit <span class="error-box">*</span></ion-label>
                <ion-select formControlName="id_produit" [disabled]="id_produit && id_produit != ''" (ionChange)="getProduit(productionForm.value.id_produit)" cancelText="Annuler" okText="Ok" >
                    <ion-option *ngFor="let t of produitsCentre" [value]=t.doc._id >{{t.doc.data.nom}}</ion-option>
                  </ion-select>
              </ion-item>
              <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['id_produit'].hasError('required') && productionForm.controls['id_produit'].touched">* le produit est obligatoir!</div>
            </ion-col>
          </ion-row>
          
          <!--ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating>Code produit <span class="error-box">*</span></ion-label>
                <ion-input type="text" formControlName="code_produit" disabled></ion-input>
              </ion-item>
              <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['code_produit'].hasError('required') && productionForm.controls['code_produit'].touched">* le code du prduit des est obligatoir!</div>    
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label floating>Nom produit <span class="error-box">*</span></ion-label>
                <ion-input type="text" formControlName="nom_produit" disabled></ion-input>
              </ion-item>
              <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['nom_produit'].hasError('required') && productionForm.controls['nom_produit'].touched">* le nom du prduit des est obligatoir!</div>    
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating>Code centre <span class="error-box">*</span></ion-label>
                <ion-input type="text" formControlName="code_centre" disabled></ion-input>
              </ion-item> 
              <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['code_centre'].hasError('required') && productionForm.controls['code_centre'].touched">* le code du centre est obligatoir!</div>    
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label floating>Nom centre <span class="error-box">*</span></ion-label>
                <ion-input type="text" formControlName="nom_centre" disabled></ion-input>
              </ion-item> 
              <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['nom_centre'].hasError('required') && productionForm.controls['nom_centre'].touched">* le nom du centre est obligatoir!</div>    
            </ion-col>
          </ion-row-->
        </ion-card-content>
      </ion-card>

      <ion-card class="info-card" *ngIf="productionForm.controls.id_produit.value"> 
        <ion-card-header>
          <ion-item class="message">
              <h2 class="fond-gris blanc"><strong>Formule / Ingrédients</strong></h2>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <fieldset *ngFor="let i of ingredients; let ind = index">
            <legend>{{i.nom}}</legend>
            <ion-item *ngIf="i.type == 'culture'">
              <ion-label floating>Selectionnez la variété <span *ngIf="i.est_obligatoire == 'oui'" class="error-box">*</span></ion-label>
              <ion-select [ngModelOptions]="{standalone:true}" [(ngModel)]="i.variete" cancelText="Annuler" okText="Ok">
                <div *ngFor="let v of varietes">
                  <ion-option *ngIf="v.doc.data.culture == i.nom" [value]=v.doc.data.denomination >{{v.doc.data.denomination}}</ion-option>
                </div>
              </ion-select>
            </ion-item>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label floating>Quantité en ({{i.unite}})<span *ngIf="i.est_obligatoire == 'oui'" class="error-box">*</span></ion-label>
                  <ion-input type="number" [(ngModel)]="i.quantite" (keyup)="getDepense()" [ngModelOptions]="{standalone:true}"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label floating>Cout total en (F) <span *ngIf="i.est_obligatoire == 'oui'" class="error-box">*</span></ion-label>
                  <ion-input type="number" [(ngModel)]="i.cout" (keyup)="getDepense()" [ngModelOptions]="{standalone:true}"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </fieldset>        
        </ion-card-content>
      </ion-card>
     
      <ion-card class="info-card" *ngIf="productionForm.controls.id_produit.value"> 
        <ion-card-header>
          <ion-item class="message">
              <h2 class="fond-gris blanc"><strong>Informations complementaires</strong></h2>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <fieldset>
            <legend>Production</legend>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label floating>Quantité produite en ({{productionForm.value.unite}}) <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="quantite_produite" (keyup)="getQuantiteReelle()"></ion-input>
                </ion-item>
                <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['quantite_produite'].hasError('required') && productionForm.controls['quantite_produite'].touched">* la quantité produite est obligatoir!</div>    
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label floating>Quantité gâtée en ({{productionForm.value.unite}}) <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="quantite_gate" (keyup)="getPerte()"></ion-input>
                </ion-item>
                <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['quantite_gate'].hasError('required') && productionForm.controls['quantite_gate'].touched">* la quantité gâtée est obligatoir!</div>        
              </ion-col>
            </ion-row>

            <ion-item>
              <ion-label floating>Dépense supplémentaires </ion-label>
              <ion-input type="number" formControlName="autre_depense" (keyup)="getDepenseSupplementaire()"></ion-input>
            </ion-item>
            <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['autre_depense'].hasError('required') && productionForm.controls['autre_depense'].touched">* dépense supplémentaire est obligatoir!</div>    
          
          </fieldset>
           <br>
          <fieldset>
            <legend>Main d'oeuvre interne</legend>
            <ion-item *ngIf="productionForm.controls.type_main_doeuvre_interne.value != 'payante'">
              <ion-label floating>Type main d'oeuvre interne <span class="error-box">*</span></ion-label>
              <ion-select formControlName="type_main_doeuvre_interne" (ionChange)="getTypeMainInterne(productionForm.controls.type_main_doeuvre_interne.value)" cancelText="Annuler" okText="Ok">
                  <ion-option value="gratuite">Gratuite</ion-option>
                  <ion-option value="payante">Payante</ion-option>
                </ion-select>
            </ion-item>
            <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['type_main_doeuvre_interne'].hasError('required') && productionForm.controls['type_main_doeuvre_interne'].touched">* le type de main d'oeuvre est obligatoir!</div>
  
            <ion-row *ngIf="productionForm.controls.type_main_doeuvre_interne.value == 'payante'">
              <ion-col>
                <ion-item>
                  <ion-label floating>Type de main d'oeuvre <span class="error-box">*</span></ion-label>
                  <ion-select formControlName="type_main_doeuvre_interne" (ionChange)="getTypeMainInterne(productionForm.controls.type_main_doeuvre_interne.value)" cancelText="Annuler" okText="Ok">
                      <ion-option value="gratuite">Gratuite</ion-option>
                      <ion-option value="payante">Payante</ion-option>
                    </ion-select>
                </ion-item>
                <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['type_main_doeuvre_interne'].hasError('required') && productionForm.controls['type_main_doeuvre_interne'].touched">* le type de main d'oeuvre est obligatoir!</div>        
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label floating>Mode de paiement <span class="error-box">*</span></ion-label>
                  <ion-select formControlName="mode_paiement_interne" (ionChange)="ModepaiementInterne(productionForm.controls.type_main_doeuvre_interne.value)" cancelText="Annuler" okText="Ok">
                    <!--ion-option value=" " disabled>Indéfini</ion-option-->  
                    <ion-option value="argent">Argent</ion-option>
                      <ion-option value="produit">Produit transformé</ion-option>
                    </ion-select>
                </ion-item>
                <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['mode_paiement_interne'].hasError('required') && productionForm.controls['mode_paiement_interne'].touched">* le mode de paiement est obligatoir!</div>        
                </ion-col>
            </ion-row>
            <!--if type == gratuite-->
            <ion-row *ngIf="productionForm.controls.type_main_doeuvre_interne.value == 'gratuite'">
              <ion-col>
                <ion-item>
                  <ion-label floating>Nombre de femmes <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="nombre_femme_interne"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label floating>Nombre d'hommes <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="nombre_homme_interne"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <!--if type == payante-->
            <ion-row *ngIf="productionForm.controls.type_main_doeuvre_interne.value == 'payante'">
              <ion-col>
                <ion-item>
                  <ion-label floating>Nombre de femmes <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="nombre_femme_interne" (keyup)="getDepense()"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item *ngIf="productionForm.controls.mode_paiement_interne.value == 'argent'">
                  <ion-label floating>Cout des femmes <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="cout_femme_interne" (keyup)="getDepense()"></ion-input>
                </ion-item>

                <ion-item *ngIf="productionForm.controls.mode_paiement_interne.value != 'argent'">
                  <ion-label floating>Quantité prdouit en {{productionForm.controls.unite.value}} <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="cout_femme_interne" (keyup)="getDepense()"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
              <ion-row *ngIf="productionForm.controls.type_main_doeuvre_interne.value == 'payante'">
                <ion-col>
                  <ion-item>
                    <ion-label floating>Nombre d'hommes <span class="error-box">*</span></ion-label>
                    <ion-input type="number" formControlName="nombre_homme_interne" (keyup)="getDepense()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item *ngIf="productionForm.controls.mode_paiement_interne.value == 'argent'">
                    <ion-label floating>Cout des hommes <span class="error-box">*</span></ion-label>
                    <ion-input type="number" formControlName="cout_homme_interne" (keyup)="getDepense()"></ion-input>
                  </ion-item>

                  <ion-item *ngIf="productionForm.controls.mode_paiement_interne.value != 'argent'">
                    <ion-label floating>Quantité prdouit en {{productionForm.controls.unite.value}} <span class="error-box">*</span></ion-label>
                    <ion-input type="number" formControlName="cout_homme_interne" (keyup)="getDepense()"></ion-input>
                  </ion-item>
                </ion-col>
            </ion-row>
          </fieldset>
          <br>
          
          <fieldset>
            <legend>Main d'oeuvre externe</legend>
            <ion-item *ngIf="productionForm.controls.type_main_doeuvre_externe.value != 'payante'">
              <ion-label floating>Type main d'oeuvre externe<span class="error-box">*</span></ion-label>
              <ion-select formControlName="type_main_doeuvre_externe" (ionChange)="getTypeMainExterne(productionForm.controls.type_main_doeuvre_externe.value)" cancelText="Annuler" okText="Ok">
                  <ion-option value="aucune">Aucune</ion-option>
                  <ion-option value="gratuite">Gratuite</ion-option>
                  <ion-option value="payante">Payante</ion-option>
                </ion-select>
            </ion-item>
            <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['type_main_doeuvre_externe'].hasError('required') && productionForm.controls['type_main_doeuvre_externe'].touched">* le type de main d'oeuvre est obligatoir!</div>
  
            <ion-row *ngIf="productionForm.controls.type_main_doeuvre_externe.value == 'payante'">
              <ion-col>
                <ion-item>
                  <ion-label floating>Type de main d'oeuvre <span class="error-box">*</span></ion-label>
                  <ion-select formControlName="type_main_doeuvre_externe" (ionChange)="getTypeMainExterne(productionForm.controls.type_main_doeuvre_externe.value)" cancelText="Annuler" okText="Ok">
                      <ion-option value="aucune">Aucune</ion-option>
                      <ion-option value="gratuite">Gratuite</ion-option>
                      <ion-option value="payante">Payante</ion-option>
                    </ion-select>
                </ion-item>
                <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['type_main_doeuvre_externe'].hasError('required') && productionForm.controls['type_main_doeuvre_externe'].touched">* le type de main d'oeuvre est obligatoir!</div>        
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label floating>Mode de paiement <span class="error-box">*</span></ion-label>
                  <ion-select formControlName="mode_paiement_externe" (ionChange)="ModepaiementExterne(productionForm.controls.type_main_doeuvre_externe.value)" cancelText="Annuler" okText="Ok">
                    <!--ion-option value=" " disabled>Indéfini</ion-option--> 
                    <ion-option value="argent">Argent</ion-option>
                    <ion-option value="produit">Produit transformé</ion-option>
                  </ion-select>
                </ion-item>
                <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['mode_paiement_externe'].hasError('required') && productionForm.controls['mode_paiement_externe'].touched">* le mode de paiement est obligatoir!</div>        
                </ion-col>
            </ion-row>
            <!--if type == gratuite-->
            <ion-row *ngIf="productionForm.controls.type_main_doeuvre_externe.value == 'gratuite'">
              <ion-col>
                <ion-item>
                  <ion-label floating>Nombre de femmes <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="nombre_femme_externe"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label floating>Nombre d'hommes <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="nombre_homme_externe"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <!--if type == payante-->
            <ion-row *ngIf="productionForm.controls.type_main_doeuvre_externe.value == 'payante'">
              <ion-col>
                <ion-item>
                  <ion-label floating>Nombre de femmes <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="nombre_femme_externe" (keyup)="getDepense()"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item *ngIf="productionForm.controls.mode_paiement_externe.value == 'argent'">
                  <ion-label floating>Cout des femmes <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="cout_femme_externe" (keyup)="getDepense()"></ion-input>
                </ion-item>

                <ion-item *ngIf="productionForm.controls.mode_paiement_externe.value != 'argent'">
                  <ion-label floating>Quantité prdouit en {{productionForm.controls.unite.value}} <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="cout_femme_externe" (keyup)="getDepense()"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
              <ion-row *ngIf="productionForm.controls.type_main_doeuvre_externe.value == 'payante'">
                <ion-col>
                  <ion-item>
                    <ion-label floating>Nombre d'hommes <span class="error-box">*</span></ion-label>
                    <ion-input type="number" formControlName="nombre_homme_externe" (keyup)="getDepense()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item *ngIf="productionForm.controls.mode_paiement_externe.value == 'argent'">
                    <ion-label floating>Cout des hommes <span class="error-box">*</span></ion-label>
                    <ion-input type="number" formControlName="cout_homme_externe" (keyup)="getDepense()"></ion-input>
                  </ion-item>

                  <ion-item *ngIf="productionForm.controls.mode_paiement_externe.value != 'argent'">
                    <ion-label floating>Quantité prdouit en {{productionForm.controls.unite.value}} <span class="error-box">*</span></ion-label>
                    <ion-input type="number" formControlName="cout_homme_externe" (keyup)="getDepense()"></ion-input>
                  </ion-item>
                </ion-col>
            </ion-row>
          </fieldset>
          <br>
          <fieldset>
              <legend>Dépenses et situation du stock</legend>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label floating>Dépense <span class="error-box">*</span></ion-label>
                    <ion-input type="number" formControlName="depense" disabled></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label floating>Pertes <span class="error-box">*</span></ion-label>
                    <ion-input type="number" formControlName="perte" disabled></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label floating>Montan production <span class="error-box">*</span></ion-label>
                    <ion-input type="number" formControlName="montan_production" disabled></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label floating>Bénéfice <span class="error-box">*</span></ion-label>
                    <ion-input type="number" formControlName="benefice" disabled></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-item>
                <ion-label floating>Quantité réelle ({{productionForm.value.unite}}) <span class="error-box">*</span></ion-label>
                <ion-input type="number" formControlName="quantite_reelle" disabled></ion-input>
              </ion-item>
              <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['quantite_reelle'].hasError('required') && productionForm.controls['quantite_reelle'].touched">* la quantité réelle est obligatoir!</div>       
            
            <!--ion-row>
              <ion-col>
                <ion-item>
                  <ion-label floating>Dépense <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="depense" disabled></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label floating>Quantité réelle ({{productionForm.value.unite}}) <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="quantite_reelle" disabled></ion-input>
                </ion-item>
                <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['quantite_reelle'].hasError('required') && productionForm.controls['quantite_reelle'].touched">* la quantité réelle est obligatoir!</div>       
              </ion-col>
            </ion-row-->
          
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label floating>Ancien stock <span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="ancien_stock" disabled></ion-input>
                </ion-item>
                <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['ancien_stock'].hasError('required') && productionForm.controls['ancien_stock'].touched">* l'ancien stock est obligatoir!</div>        
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label floating>Nouveau stock<span class="error-box">*</span></ion-label>
                  <ion-input type="number" formControlName="nouveau_stock" disabled></ion-input>
                </ion-item>
                <div style="padding-left: 15px;" class="error-box" *ngIf="productionForm.controls['nouveau_stock'].hasError('required') && productionForm.controls['nouveau_stock'].touched">* le nouveau stock est obligatoir!</div>        
              </ion-col>
            </ion-row>
          </fieldset>
        </ion-card-content>
      </ion-card>
      
      <br>

        <ion-row>
          <ion-col>
            <button ion-button type="submit" color="my_secondary" [disabled]="!productionForm.valid" block>Sauvegarder</button>
          </ion-col>
          <ion-col>
            <button ion-button color="annuler" block (click)="annuler()">Fermer</button>
          </ion-col>
        </ion-row>        
      </form>
      
      <br><br><br>
  </div>

  <ion-fab *ngIf="action == 'liste' && selectedStyle != 'tableau' && ((user && user.roles && global.estManager(user.roles)) || estManger)"  bottom right>
    <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom right *ngIf="action == 'liste' && selectedStyle == 'tableau' && ((user && user.roles && global.estManager(user.roles)) || estManger)">
    <button mini ion-fab (click)="options()" color="my_primary"><ion-icon name="apps"></ion-icon></button>
    <!--ion-fab-list side="top">
      <button ion-fab mini *ngIf="productions.length > 0" (click)="onPrint()"><ion-icon name="print"></ion-icon></button>
      <button ion-fab mini *ngIf="productions.length > 0" (click)="exportExcel()"><ion-icon name="logo-windows"></ion-icon></button>
      <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="add"></ion-icon></button> 
    </ion-fab-list-->
  </ion-fab>

  <ion-fab bottom right *ngIf="action == 'detail'" >
      <button ion-fab mini (click)="actions()" color="my_primary"><ion-icon name="apps"></ion-icon></button>
      <!--ion-fab-list side="top">
        <button ion-fab mini *ngIf="(user && user.roles && global.estManager(user.roles)) || estManger" (click)="supprimer(production)" color="delete" ><ion-icon name="trash"></ion-icon></button>
        <!--button ion-fab mini *ngIf="(user && user.roles && global.estAnimataire(user.roles)) || estAnimataire" (click)="openMap(production.data.code_production)" color="my_primary"><ion-icon name="pin"></ion-icon></button-->
        <!--button ion-fab mini *ngIf="(user && user.roles && global.estAnimataire(user.roles)) || estAnimataire" (click)="calculStatisitque(production.data.code_production)" color="my_primary"><ion-icon name="stats"></ion-icon></button->
        <button ion-fab *ngIf="(user && user.roles && global.estAnimataire(user.roles)) || estAnimataire" (click)="productionproduction(production.data.num_aggrement, production.data.nom_production, production.data.code_production)" color="my_primary"><strong>OP</strong></button>
        <button ion-fab mini *ngIf="(user && user.roles && global.estManager(user.roles)) || estManger" (click)="editer(production)" color="my_primary" ><ion-icon name="create"></ion-icon></button>
      </ion-fab-list-->
    </ion-fab> 

</ion-content>
